@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  /* for theme */
  --color-primary: #6e07f3;
  --color-secondary: #536390;
  --color-font: #333332;
  --color-font-2: rgba(0, 0, 0, 0.75);
  --color-bg: #fff;
  --color-bg-2: rgba(0, 0, 0, 0.025);
  --color-heading: #292922;

  /* another colors */
  --color-green: #66bb6a;
  --color-white: #fff;
  --color-white-dark: #ccc;

  /* font */
  --font-family-primary: "europa", sans-serif;
  --font-family-secondary: Open Sans, sans-serif;

  /* container */
  --size-container: 900px;
}

[data-theme="dark"] {
  --color-primary: #20d5b3;
  --color-secondary: #818cab;
  --color-font: #e1e1ff;
  --color-bg: #161625;
  --color-bg-2: #222231;
  --color-heading: #818cab;
}
